@media screen and (max-width: 1180px) {
  .container {
    width: 98%;
  }
}

@media screen and (max-width: 1079px) {

  .breadcrumb,
  .contacts {
    display: none;
  }

  .container {
    width: 96%;
  }

  main {
    padding-top: 120px;
  }

  .registry-text {
    margin-top: -10em;
  }

  .banner-text {
    margin-top: -4em;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 94%;
  }

  .spread,
  .boxes {
    width: 32%;
    height: 100%;
    border-radius: 20px;
  }

  .content-area {
    flex-direction: column;
  }

  .values .content-area,
  .mission .content-area,
  .founder .content-area {
    flex-direction: column-reverse;
  }

  .cta h6 {
    display: none;
  }

  .quote-area {
    width: 100%;
  }

  .text-area {
    width: 100%;
  }

  .registry-text {
    width: 80%;
  }

  .contact-block {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 92%;
  }

  .registry-text {
    margin-top: -5em;
  }

  .banner-text {
    margin-top: -4em;
  }
}

@media screen and (max-width: 700px) {
  .hero-images.portrait {
    display: none;
  }

  .hero-images {
    width: 100%;
  }

  .boxes {
    width: 49%;
    height: 100%;
    border-radius: 20px;
  }

  .registry-text {
    margin-top: -3em;
  }

  .banner-text {
    margin-top: -3em;
  }

  .hero-events .hero-spread {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .hero-events .kit-area {
    margin-top: 2em;
  }

  .domi .hero-spread {
    margin-top: 35em;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 599px) {
  .gallery-image {
    height: 70vh;
  }

  .domi .hero-spread {
    margin-top: 30em;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 27px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 21px;
  }

  h6 {
    font-size: 18px;
  }

  .full-padding {
    padding-top: 1.3em;
    padding-bottom: 1.3em;
  }

  .top-padding {
    padding-top: 1.3em;
  }

  .bottom-padding {
    padding-bottom: 1.3em;
  }

  .container {
    width: 90%;
  }

  .navbar {
    display: none;
  }

  .mobile-navbar {
    display: inline-block;
    height: 60px;
    width: 200px;
    margin-top: 10px;
    z-index: 9999;
    position: fixed;

    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    background: #F5F6F3;
    padding: 5px 10px;
    border: 1px solid #D5AF34;
    border-radius: 20px;

    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  }

  .mobile-navbar ul {
    justify-content: space-evenly;
    text-align: center;
  }

  .mobi-nav {
    position: absolute;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    row-gap: 0px;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    z-index: 49;
    background: rgba(245, 246, 243, 1);
  }

  .registry-text {
    margin-top: -2em;
  }

  .banner-text {
    margin-top: -2em;
  }

  .domi .hero-spread {
    margin-top: 20em;
  }
}