html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background: #F5F6F3;
}

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 39px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 21px;
}

h6 {
  font-size: 18px;
}

span {
  font-weight: 600;
  font-family: "Urbanist", sans-serif;
  color: #CB9B02;
}

h1 span,
h2 span,
h6 span,
h3.fancy,
h4.fancy {
  font-weight: 900;
  font-family: "breathing_personal_use_onlyRg", sans-serif ;
  color: #CB9B02;
}

h4.fancy a {
  color: #CB9B02;
}

h4.fancy a:hover {
  color: #595A5A;
}

h6 span.fancy {
  font-size: 21px;
} 

a {
  text-decoration: none;
  color: #000;
}

a:hover,
a:active,
.active {
  text-decoration: none;
  color: #CB9C02;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  color: #fff;
  background: #D9B391;
  border: 1px solid #D9B391;
}

button:hover {
  color: #fff;
  background: #595A5A;
}

.container {
  width: 1180px;
  margin: 0px auto;
}

.full-padding {
  padding-top: 5em;
  padding-bottom: 5em;
}

.top-padding {
  padding-top: 2em;
}

.bottom-padding {
  padding-bottom: 2em;
}

.no-bottom-padding {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.no-top-padding {
  padding-top: 0px !important;
  margin-top: 0px !important;
}

.no-text-padding {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
  margin-top: 0px !important;
}

.text-center {
  text-align: center;
}

mobile-navigation {
  display: none;
  position: absolute;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  row-gap: 0px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  z-index: 49;
  background: rgba(245, 246, 243, .85);
}

mobile-navigation ul {
  margin-top: 0px;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 15px;
  align-items: center;
}

mobile-navigation ul li a {
  font-weight: 600;
}

.navigation .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.breadcrumb {
  width: 300px;
  padding-top: 15px;
  margin-left: 1em;
}

.contacts {
  width: 240px;
  padding-top: 38px;
}

.navbar {
  display: inline-block;
  height: 60px;
  width: 380px;
  margin-top: 10px;
  z-index: 9999;
  position: fixed;
  font-weight: 600;

  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  background: #FFF;
  padding: 5px 10px;
  border: 1px solid #D5AF34;
  border-radius: 20px;

  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
}

.mobile-navbar {
  display: none;
}

.navbar ul,
.mobile-navbar ul,
.contacts ul,
.footer-area ul {
  margin-top: 0px;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

main {
  padding-top: 30px;
}

.hero-spread {
  height: 55vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-images {
  width: 49%;
  height: 100%;
}

.landscape {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.portrait {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-spread img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #CA9C02;
  border-radius: 20px;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
}

.spread img {
  object-fit: cover;
}

.box img {
  object-fit: cover;
}

.landscape .spread {
  width: 100%;
  height: 48%;
}

.landscape .boxes {
  height: 48%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.landscape .boxes .box {
  width: 48%;
  height: 100%;
}

.portrait .spread {
  width: 48%;
  height: 100%;
}

.portrait .boxes {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portrait .boxes .box {
  width: 100%;
  height: 48%;
}

.content-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.kit-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-area {
  width: 47%;
}

.quote-area {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-image {
  width: 90%;
  margin-left: -3em;
}

.quote-image img {
  border-radius: 20px;
  width: 100%;

  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
}

.quote-text {
  z-index: 10;
  padding: 5px 10px;
  width: 90%;
  border-radius: 20px;
  background: #fff;
  margin-top: -2em;
  margin-left: 1em;

  border: 1px solid #D5AF34;

  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
}

.text-area {
  text-align: justify;
}

.registry-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registry-image {
  width: 100%;
}

.registry-image img {
  border-radius: 20px;
  width: 100%;

  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
}

.registry-text {
  z-index: 10;
  padding: 2em 2em;
  width: 40%;
  border-radius: 20px;
  margin-top: -9em;
  background: #fff;
  border: 1px solid #D5AF34;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
}

.registry-text form label {
  font-weight: 600;
  width: 100%;
}

.registry-text form input {
  padding: 10px 15px;
  background: #F8F4EB;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid #D9B391;
}

.registry-text form label {
  margin-left: 5px;
}

.form-input {
  width: 90%;
}

form .checkbox {
  height: 25px;
  width: 25px;
}

form button {
  width: 100%;
}

.footer-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-area ul {
  width: 300px;
}

.icon-space {
  padding: 10px 0px;
}

.title-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
}

.banner-header {
  width: 100%;
  height: 30vh;
  border-radius: 20px;
  background: url("https://res.cloudinary.com/mmm-legal-practitioners/image/upload/v1750887097/ymm/media/gallery.webp") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
}

.banner-overlay {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 20px;
  color: #fff;
  background: rgba(0, 0, 0, .4);
}

.banner-text {
  z-index: 30;
  padding: 2em 2em;
  width: 80%;
  border-radius: 20px;
  margin-top: -5em;
  background: #fff;
  border: 1px solid #D5AF34;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
}

.contact-block {
  width: 25%;
}

.gallery-image {
  border-radius: 20px;
  height: 55vh;
  object-fit: cover;

  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
}

.owl-nav {
  margin-top: -20px;
  text-align: center;
}

.owl-nav button span {
  font-size: 50px;
}

.owl-prev {
  float: left;
}

.owl-next {
  float: right;
}

.lb-number {
  display: none !important;
}

.gallery-image-text {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  color: #fff !important;
  z-index: 5;
}

.gallery-image-text {
  display: none;
}

.gallery-image:hover .gallery-image-text {
  display: flex;
}